.topnav {
  display: flex;
  align-items: center;
  font-family: "NotoSansCJKkr";
  height: 4.5vh;
  width: 100%;
  gap: 25px;
  padding: 5px 0 5px 13px;
  margin: 0;
  position: fixed;
  left: 0;
  background-color: white;
  z-index: 100;
}

.nav_span {
  font-size: 1.8vh;
  font-weight: bold;
  align-items: center;
}
